.list-group-item b{
 color: seagreen !important;
 font-family: 'Times New Roman', Times, serif;
}
.list-group-item {
    word-break: break-all;
}
.user {
    font-size: 1.6em;
}
ul li {
    color: blue;
    font-size: 1.2em;
    border-radius: 5px;
}
.order>p {
    color: blue;
    font-size: 1.2em;
    border-radius: 5px;
}
.order-detail {
    padding: 18px;
    border: 2px solid black;
    border-radius: 10px;
}
.comment {
    font-size: 1em !important;
    letter-spacing: 0.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}