<div *ngIf="tableMode; else create">
  <div class="mt-2">
    <button class="btn btn-outline-success" (click)="clearOrder(); tableMode = false">Create new order</button>
  </div>
  <div class="mt-3">
    <mat-table [dataSource]="orders" class="mat-elevation-z8">
      <ng-container matColumnDef="orderId">
        <mat-header-cell *matHeaderCellDef> Order Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.orderId}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="startOfRental">
        <mat-header-cell *matHeaderCellDef> Start of rental </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.startOfRental}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="endOfRental">
        <mat-header-cell *matHeaderCellDef>End of rental </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.endOfRental}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="comment">
        <mat-header-cell *matHeaderCellDef>Comment </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.comment}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="car" style="width:120px">
        <mat-header-cell *matHeaderCellDef>Car model</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.car.model.model}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="user">
        <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <p>{{element.user.firstName}} {{element.user.lastName}}</p>
          <button class="btn btn-outline-info btn-sm"
            (click)="selectOrder(element.orderId); tableMode = false">Edit</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>
<ng-template #create>
  <app-order-editor [order]="order"></app-order-editor>
  <button class="btn btn-primary mr-1" (click)="saveOrder()">
      Save
  </button>
  <button class="btn btn-info" (click)="clearOrder()">
      Cancel
  </button>
</ng-template>