<div class="mt-2">
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>User Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>First name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date of birth</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dateOfBirth | date: 'longDate' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dlNumber">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Dl number</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dlNumber}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource?.length" [pageSizeOptions]="[10, 20,40]" showFirstLastButtons></mat-paginator>
</div>